.provider_profile {
    background-color: #F3F3F3;
}

.provider_profile .container {
    display: flex;
    align-items: center;
}

.provider_profile .info {
    margin-inline: 20px;
}

.provider_profile .info span {
    color: #777;
}

.provider_profile .img img {
    width: 70px;
    max-height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.tab_status {
    margin: 20px 0;
}

.tab_status button {
    background-color: var(--main-color);
    color: var(--basic-color);
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 7px 20px;
    margin: 0px 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

.tab_status button.active {
    border: 1px solid var(--main-color);
    background-color: var(--basic-color);
    color: var(--main-color);
}

/* ribbon */
.ribbon-wrapper {
    position: relative;
    z-index: 998;
}

.ribbon-front {
    background-color: var(--main-color);
    height: 38px;
    width: 282px;
    position: relative;
    left: 30px;
    z-index: 2;
    line-height: 2.8em;
    font-size: 14px;
    color: #f8f8f8;
    text-align: center;
    text-shadow: 0px 1px 2px var(--main-color);
}

.ribbon-back-left,
.ribbon-back-right {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}
.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style: solid;
    height: 0px;
    width: 0px;
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
    top: 38px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
    left: -30px;
    border-color: transparent #9B1724 transparent transparent;
}

.ribbon-edge-topleft {
    top: -5px;
    border-width: 5px 10px 0 0;
}

.ribbon-edge-bottomleft {
    border-width: 0 10px 0px 0;
}

.ribbon-edge-topright,
.ribbon-edge-bottomright {
    left: 240px;
    border-color: transparent transparent transparent #9B1724;
}

.ribbon-edge-topright {
    top: 0px;
    border-width: 0px 0 0 10px;
}

.ribbon-edge-bottomright {
    border-width: 0 0 5px 10px;
}


@-webkit-keyframes flow {
    0% {
        left: -20px;
        opacity: 0;
    }

    50% {
        left: 100px;
        opacity: 0.3;
    }

    100% {
        left: 180px;
        opacity: 0;
    }
}

@keyframes flow {
    0% {
        left: -20px;
        opacity: 0;
    }

    50% {
        left: 100px;
        opacity: 0.3;
    }

    100% {
        left: 180px;
        opacity: 0;
    }
}

.glow {
    background: rgb(255, 255, 255);
    width: 40px;
    height: 100%;
    z-index: 999;
    position: absolute;
    animation: flow 1.5s linear infinite;
    -webkit-animation: flow 1.5s linear infinite;
    -moz-animation: flow 1.5s linear infinite;
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
    border-left: 1px solid #fff;
}

/* ribbon */
[dir='ltr'] .ribbon-front {
    right: 30px;left: unset;
}
[data-theme='dark'] {
    .provider_profile {
        background-color: var(--dark-color);
        color: var(--basic-color);
    }

    .provider_profile .info span {
        color: var(--basic-color);
    }

    .common {
        background-color: var(--dark-color);
        color: var(--basic-color);
        border-color: #16181b;
    }
}
@media(max-width:567px) {
    .tab_status {
        margin: 20px 0;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow-y: scroll;
    }
}
@media(max-width:260px) {
    .ribbon-front {
        background-color: var(--main-color);
        height: 38px;
        width: 249px;
    }
}